/* EventDetail Mobile Styles */

@media (max-width: 425px) {
  .homeSignButtons {
    flex-direction: column;
    width: 100%;
  }

  .homeHeaderContentTitle {
    font-size: 2em;
  }

  .eventDetailBanner {
    height: auto;
    min-height: 40vh;
  }

  .eventDetailsDateBlock {
    font-size: 0.9em;
    text-align: center;
  }
  .eventDetailSignUpRow {
    display: flex;
    flex-direction: column;
  }

  .eventDetailUsersBlock {
    width: 30%;
  }

  .homeFooterContainer {
    flex-direction: column;
  }
}
